@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
section:first-of-type{
    background: url(../img/main.jpeg) center/cover no-repeat;
    padding:300px 0
}
section:first-of-type h1{
    margin: 0;
    width:300px;
    color: #fff;
    background: #78CEFF;
    font-weight:600;
    border-radius: 5px;
    margin:0 auto;
    padding:20px;
}
section:nth-of-type(2){
    margin: 100px 0;

}
section:nth-of-type(2) h2{
    margin: 0;
    text-align: center;
    margin-bottom: 50px;
}
section:nth-of-type(2) p{
    width: 80%;
    margin: 0 auto;
    border:1px solid #333;
    padding: 10px 20px;
}
section:nth-of-type(3){
    margin-bottom: 100px;
}
section:nth-of-type(3) img{
    width: 25%;
    margin-left:6.25%;
}
footer{
    border-top:1px solid #000;
    text-align: center;
    padding: 20px 0;
}