p{
    /* padding-top: 100px;
    padding-right: 50px;
    padding-bottom:200px;
    padding-left:100px */
    /* padding:100px 50px 200px 100px;
    margin: 10px; */
    /* border-style:solid;
    border-width:1px;
    border-color:gold; */
    /* border:1px solid gold; */
}
h1{
    /* padding:50px 100px 60px 100px */
    padding:50px 100px 60px;
    margin: 10px 100px 20px;
    border-width:10px 1px 5px 50px;
    border-style:solid dashed inset double;
    border-color:gold tomato green blueviolet
}
h2{
    /* padding: 40px 100px 40px 100px; */
    padding: 40px 100px ;
    margin: 40px 10px;
}
h3{
    /* padding: 50px 50px 50px 50px; */
    padding: 50px;
    margin: 10px;
    border:2px solid #000;
    border-radius: 10px 4px 40px 2px;
}
div{
    height: 100px;
    width: 500px;
    background: gold;
    border-radius: 50px;
}

section{
    width:300px;
    margin:100px auto;
    border:4px solid #000;
    padding:10px
}
