body{
  margin: 0;
}
section{
    background-image: url("https://www.w3schools.com/css/gradient_bg_vertical.png");
    background-repeat: repeat-y;
  }

 h2{
    padding-bottom: 40px;
  }
  
 article{
    background-image: url("https://source.unsplash.com/random/300x200");
    background-repeat:no-repeat;
    background-position: right;
  }