body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    font-family: cursive;
    font-family: fantasy;
    font-family:monospace;
    font-family:sans-serif;
    font-family: serif;
    font-family: 'Yeseva_one', sans-serif;
}

