body{
    text-align: center;
}

section{
    display: block;
    margin-left: 40px;
    font-size: 50px;
}

.fa-facebook-official{
    color: #1877F2; 
}

.fa-fa-instagram{
    color: #E4405F;
}

.fa-fa-youtube-square{
    color: #CD201F;
}

.fa-fa-linkedin{
    color: #0A66C2;
}

.fa-fa-whatsapp{
    color: #25D366;
}

