
section{
    height: 100vh;
    background-color: darkorchid;
}
article{
    height: 100vh;
    background-image:url(../img/bike.jpeg);
    background-repeat: no-repeat;
    /* background-size:contain; */
    background-size:cover;
    /* background-position: 300px 50px; */
    background-position: center;
    background-attachment: fixed;

}
main{
    height:100vh;
    background:url(https://unsplash.it/600/400) no-repeat center/cover ;
}