
/*
nav{
    text-align: right;
    
}

nav ul{
    list-style: none; 
    margin-right: 20px;
}

nav ul li{
    font-size: 30px;
    padding-right: 20px;
}*/

nav {
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 0;
}
nav ul {
    list-style: none;
    text-align: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
}

article {
    border: solid black;
    text-align: center;
    background-color: lightblue;
    display: inline-block;
    margin-left: 6%;
    margin-top: 50px;
    margin-bottom: 50px;
}
