@font-face {
    font-family: 'Merriweather';
    src: url("../fonts/Merriweather-Regular.ttf");
}
@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato-Regular.ttf");
}


/*==========================================================================================
 * colors used
 *   #202020, #24bff2, #fff, #F5FBFE.
 *  
 * social media colors:
 *   #3b5998 facebook
 *   #fcaf45 instagram
 *   #55acee twitter
 *   #c4302b youtube
*/


/*==========================================================================================
 *  Global styles
 */
html {
    scroll-behavior: smooth;
}
body {
    margin-top: 30px;
    background-color: white;
    color: #202020;
    font-family: 'Merriweather';
}
h1 {
    margin: 0;
    font-size: 4em;
}
p {
    font-size: 1.6em;
    font-weight: 600;
    line-height: 1.6;
}
ul {
    list-style: none;
    padding-left: 0;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: #202020;
}


/*==========================================================================================
 *  Navigation
 */
nav {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    font-weight: 900;
    text-align: right;
    text-transform: uppercase;
}
nav li {
    margin-right: 30px; 
    display: inline;
}


/*==========================================================================================
 *  Section 1: absurd illustrations...
 */
#absurd {
    padding-bottom: 20%;
}
#absurd div {
    display:inline-block;
    width: 44%;
    padding-top: 10%;
    padding-left: 10%;
    vertical-align: top;
}
#absurd img {
    margin-left: 10%;
    width: 30%;
}
#absurd a {
    font-size: 1.5em;
    font-weight: 600;
    padding: 20px 30px;
    margin-right: 10px;
    border-radius: 4px;
    box-shadow: 2px 4px 3px rgba( 0, 0, 0, 0.5 ); 
}
#absurd a:first-of-type {
    background: #202020;
    font-weight: 300;
    color: white;
}


/*==========================================================================================
 *  Section 2: real beauty resides...
 */
#real-beauty {
    padding-bottom: 20%;
}
#real-beauty img {
    display:inline-block;
    margin-left: 10%;
    width: 30%;
}
#real-beauty div {
    display:inline-block;
    width: 40%;
    padding-top: 5%;
    padding-left: 10%;
    vertical-align: top;
}


/*==========================================================================================
 *  Section 3: expressiveness is...
 */
#expressiveness {
    padding-bottom: 20%;
}
#expressiveness div {
    display:inline-block;
    width: 44%;
    padding-top: 10%;
    padding-left: 10%;
    vertical-align: top;
}
#expressiveness img {
    margin-left: 10%;
    width: 30%;
}


/*==========================================================================================
 *  Section 4: illustrations for applications
 */
#app-illustrations {
    text-align: center;
    padding-bottom: 10%;
}
#app-illustrations h1,
#app-illustrations p {
    padding: 0 25%;
}
#app-illustrations img {
    width: 20%;
    margin: 5%;
}
#app-illustrations img:hover {
    box-shadow: 0px 0px 3px rgba( 0, 0, 0, 0.5 ); 
}


/*==========================================================================================
 *  Section 5: examples of use
 */
#examples-of-use {
    text-align: center;
    padding-bottom: 10%;
}
#examples-of-use h1,
#examples-of-use p {
    padding: 0 25%;
}
#examples-of-use img {
    width: 35%;
    margin: 4% 2%;
}
#examples-of-use img:hover {
    box-shadow: 0px 0px 3px rgba( 0, 0, 0, 0.5 ); 
}


/*==========================================================================================
 *  Section 6: download illustrations
 */
#downloads {
    text-align: center;
    padding-bottom: 10%;
}
#downloads h1,
#downloads p {
    padding: 0 25%;
}

/*------------------------------------------------------------------------------------------
 *  membership block within section 6: 
 */
#membership {
    width: 20%;
    margin: 0 auto;
    background: #F5FBFE;
    border-radius: 8px;
    padding: 30px 0 60px;
    box-shadow: 0 0 1px rgba( 0, 0, 0, 0.5 ); 
}
#membership h4 {
    font-size: 1.3em;
    font-weight: 900;
}
#membership h2 {
    font-size: 2.5em;
    font-weight: 900;
}
#membership h5 {
    font-size: 1.1em;
    font-weight: 900;
    color: gray;
}
#membership ul {
    margin-bottom: 50px;
}
#membership li {
    line-height: 2;
    font-weight: bold;
}
#membership a {
    width: 80%;
    padding: 5% 15%;
    background: #24bff2;
    color: white;
    border-radius: 8px;
}


/*==========================================================================================
 *  footer
 */
footer {
    text-align: center;
    line-height: 2;
}
footer p {
    font-size: 1em;
    font-weight: 400;
    color: #888;
}
footer p:last-of-type {
    margin-bottom: 0;
}
footer ul {
    margin-top: 0;
}
footer li {
    display: inline;
}
footer li span {
    font-size: 2em;
}

/*------------------------------------------------------------------------------------------
 *  colors for social media links
 */
 footer li:nth-of-type(1) a span{
    /* facebook */
    color: #3b5998;
}
footer li:nth-of-type(2) a span {
    /* instagram */
    color: #fcaf45;
}
footer li:nth-of-type(3) a span {
    /* twitter */
    color: #55acee;
}
footer li:nth-of-type(4) a span {
    /* youtube */
    color: #c4302b;
}