@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body{
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

section nav{
    color: #659d89;  
    padding-left: 10px;  
}
section nav ul{
    list-style: none;   
}

section nav ul li{
    display: inline-block;
    padding-right: 15px;
    /*font-weight: 400; 400 ist der Standard*/
       
}

/*WORK*/
div{ 
    /*margin: 50px;*/
    margin: 100px 50px;
    width: 35%;
    

}

div h1{
    color: #659d89;  
    margin: auto;
    font-size: 5vh;
    font-weight: 500;
    
}

div p{
    margin:auto;
    padding:5px;
    font-size: 35px;
    font-weight: 500;
}

/* UL social network*/

.social{
    list-style: none;
    text-align: right;
    padding-bottom: 100px;
    
      
}

.social li a img{
    width: 24px;
    padding: 2px 100px;
}

/*ARROW*/

.arrow{
    margin: 0 25px;
    padding: 5px;   
}

header{
    border-bottom: 1px solid #ccc;
}

.mainHeader{
    margin: 40px 35px;

}
h2{
    font-weight: 500;
    
}

/*GIF container*/


.gifContainer{
    margin: 0 auto;
    padding-bottom: 100px; /* später ändern und anpassen*/
} 

/*die Figuren sollen sich bewegen
für jeden Figure 25% vergeben 
Jede Figure hat eine Breite von 25%
*/
.gifContainer figure{
    width: 25%;
    margin: 0;
    margin-left: 6.25%;
    margin-top: 50px;
    margin-bottom: 1.25%;
    display: inline-block;

}

.gifContainer figure img{
    width: 100%;
}

main{
    border-bottom: 1px solid #ccc;
}

