/* body{
    background-color: lightgrey;
    width: 200px;
    margin: 25px;
    margin-left: auto;
    margin-right: auto;
}

div{
    color: black;
    border: 25px solid; 
    background-color:darkcyan;
    padding: 25px;

}
*/

div {
    background-color: green;
    width: 200px;
    padding: 25px;
    border: solid black 25px;
    margin: 25px auto;
  }